.analysis-container {
  text-align: center;
  padding: 20px;
}

.season-buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 20px;
}

.season-buttons button {
  margin: 5px;
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.season-buttons button:hover {
  background-color: #0056b3;
}

.season-images {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  justify-items: center;
}

.image-container {
  width: 100%;
}

.season-images{
  width:800px;
  margin-left:45px;
}
.season-images img{
  width: 250%;
  height: auto;
  border: 1px solid #cccccc;
  border-radius: 10px;
  transition: transform 0.2s;
  margin-right: 790px;
}

.season-image:hover {
  transform: scale(1.05);
}

.markdown-section {
  text-align: left;
  margin-top: 40px;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  background-color: #333;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(111, 106, 106, 0.1);
  position: relative;
  top: 50px; /* adjust this value to position the markdown section correctly */
}

.markdown-section::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: #333;
  z-index: 0; 
}

nav{
  width: 27%;
  margin-right: 30px;
}

.navbar {
  list-style: none;
  display: flex;
  justify-content: space-between;
}

.navbar li a{
  text-decoration: none;
  color: white;
  background-image: linear-gradient(white, white);
  background-size: 0% 0.1em;
  background-position-y: 100%;
  background-position-x: 0%;
  background-repeat: no-repeat;
  transition: background-size 0.2s ease-in-out;
}

.navbar li a:hover{
background-size: 100% 0.1em;
}

.navbar ul {
  display: flex;
  justify-content: flex-end;
  list-style: none;
}

